body {
    background: darkred;
}

#welcomeCard {
    text-align: center;
}

#questionsCard, #resultsCard, #scoreboardCard {
    display: none;
}

th {
    width: 33%;
}

table {
    width: 100%;
    text-align: center;
}

.par {
    background-color: rgb(233, 208, 178);
}

.impar {
    background: rgb(182, 168, 168);
}

#resultsCard {
    text-align: center;
}

#firstPlayer {
    font-size: 40px;
    font: bold;
}

#secondPlayer {
    font-size: 30px;
}

#thirdPlayer {
    font-size: 20px;
}